<!DOCTYPE html>
<html>
<head>
	<title>
		FoodPanda
	</title>
	<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width initial-scale=1" >
        <link rel="stylesheet" type="text/css" href="style.css">
      <style>
    body {
        /* The image used */
    background-image: url("static/imgb.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 h1{
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
  font-weight: bold;
  padding-top: 0px;
  padding-left: 400px;

}
h2,h3{
	font-family:"Georgia", Times,serif;
	font-weight: bold;
	font-size: 50px;
}

</style>
 </head>
<body>
	  <br></br>
	  <br></br>
	  <br></br>
	<h1 align="center" >FoodPanda</h1>
	<br></br>
	<h2 align="center">Welcome!!!</h2>
	<h3 align="center">Bon Apetit</h3>
	<br></br>
	<h2 align="center"><a href="2nd.html"> <button type="submit" class="btn btn-danger btn-lg active"> Use as a Guest </button></a></h2>

</body>
</html>
